@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    @apply
      bg-gray-100
      text-slate-800
      dark:bg-slate-800
      dark:text-gray-100
  }
}