.fade-150-enter-active,
.fade-150-leave-active {
  transition: opacity 150ms;
}
.fade-300-enter-active,
.fade-300-leave-active {
  transition: opacity 300ms;
}
.fade-150-enter-from,
.fade-150-leave-to,
.fade-300-enter-from,
.fade-300-leave-to {
  opacity: 0;
}
